<html style="scroll-behavior: smooth;">
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/static/style.css"/>
        <link rel="stylesheet" href="/static/vim.css"/>
        <script type="text/javascript" src="/static/script.js"></script>
        <script type="text/javascript" src="/static/mathjax_macros.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
    </head>
    <body>
        <ul class="navbar"> 
            <li class="navbarleft">
                <a class="navbara" href="/index.html">Home</a>
            </li>
            <li class="navbarleft">
                <a class="navbara" href="/music.html">Music</a>
            </li>
            <li class="navbarleft">
                <a class="navbara" href="/books.html">Books</a>
            </li>
            <li class="navbarleft">
                <a class="navbara" href="/problems.html">Problems</a>
            </li>
            <li class="navbarleft">
                <a class="navbara" href="/writeups.html">Writeups</a>
            </li>
            <li class="navbarright">
                <a class="navbara" href="/contact.html">Contact</a>
            </li>
            <li class="navbarright">
                <a class="navbara" href="/blog.html">Blog</a>
            </li>
        </ul>
        <button onclick="topFunction()" id="myBtn" title="Go to top">↑</button>
        <br/>
        <h1 style="font-size: 200%; text-align: center;">{{ page.title }}</h1>
        {{ content }}
        {% include footer.html %}
    </body>
</html>

